@import url(https://fonts.googleapis.com/css?family=Poppins:900,400);
@import url(https://fonts.googleapis.com/css?family=Lato:700,400,black);
* {
	padding: 0;
	margin: 0px;
}
body {
	font-family: Poppins;
}
.navSection {
	width: 100%;
	height: 50px;
	font-family: Lato;
	font-size: 400;
	background-color: rgb(0, 0, 0);
	display: flex;
}
.navContainer {
	width: 1340px;
	height: 50px;
	margin: auto;
}
.navWrapper {
	height: 50px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.navLink {
	color: white;
	font-style: normal;
	text-decoration: none;
}
.navCta {
	background-color: #5a4ff3;
	border: #5a4ff3;
	height: 40px;
	width: 120px;
	margin-top: 10px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	font-size: 15px;
}
.navWrapper li {
	list-style: none;
	font-size: 26px;
}
.headerSection {
	width: 100%;
	height: 500px;
	background-image: url('images/heroimage.png');
	background-position: 100% 100%;
	background-attachment: scroll;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.headerContainer {
	height: 500px;
	width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.headerWrapper h1 {
	color: white;
	font-size: 60px;
	font-family: Poppins;
	font-weight: 400;
	line-height: 72px;
}
.headerWrapper p {
	color: #c4c4c4;
	font-size: 18px;
	font-family: lato;
	font-weight: 400;
	width: 360px;
}
.headerWrapper {
	width: 520px;
	height: 360px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	margin-left: 40px;
}
.headerCta {
	background-color: #5a4ff3;
	border: #5a4ff3;
	height: 50px;
	width: 180px;
	margin-top: 10px;
	color: white;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 0.6px;
}
.subHeroSection {
	height: 1040px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.subHeroContainer {
	height: 1000px;
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.leftSH {
	height: 840px;
	width: 600px;
	padding-right: 20px;
	margin: 0px;
	margin-top: 100px;
}
.leftSH h2 {
	width: 500px;
	font-size: 38px;
	line-height: 52px;
}
.leftSH p {
	font-size: 16px;
	line-height: 26px;
	padding-top: 12px;
	color: rgb(51, 51, 51);
}
.leftSH ul {
	padding: 20px;
	padding-left: 30px;
	text-transform: capitalize;
	font-size: 17px;
	font-family: Lato;
	font-weight: 700;
	line-height: 27px;
}

.material-icons {
	color: #5a4ff3;
}
.rightSH {
	height: 820px;
	width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.symptomGraphWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #f1f0fa;
	font-family: lato;
	padding: 20px;
	width: 33vw;
	height: 620px;
	border-radius: 20px;
	border-width: 0px 0px 0px 17px;
	border-style: solid;
	border-color: #dad8f9;
}
/* border-color: rgb(152, 152, 221) */
.symptomGraphWrapper h3 {
	font-size: 28px;
}
.symptomGraphWrapper p {
	font-size: 14.5px;
	color: rgb(44, 44, 44);
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 24px;
}
.leftGraph {
	height: 500px;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 20px;
}

.rightGraph {
	height: 500px;
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bodySection {
	height: 1540px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bodyContainer {
	height: 1700px;
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 0px;
}
.leftbody {
	width: 300px;
	height: 1300px;
}
#magSup {
	background-color: cornflowerblue;
	height: 320px;
}
.testimonialWrapper {
	height: 900px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: lato;
	font-size: 15.5px;
	border-color: #dad8f9;
	background-color: #f8f7fa;
	border-color: #b8b7c7;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 20px;
	padding: 40px;
	font-style: italic;
}
.testimonialWrapper p {
	line-height: 30px;
	font-size: 15px;
	padding-top: 10px;
	color: #363636;
}
.testimonialWrapper h3 {
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	padding-top: 20px;
	width: 320px;
}
.testimonialLogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
}
.testimonialContentWrapper img {
	height: 22px;
}
hr {
	background-color: #d3d3d3;
	height: 1px;
	border: none;
}

.dateContent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 20px;
}
.dateContent h4 {
	margin-right: 20px;
	color: rgb(12, 12, 12);
	font-weight: 400;
}
#amazonLogo {
	height: 100px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.rightBody {
	max-width: 550px;
	height: 1200px;
	display: flex;
	flex-direction: column;
	margin-left: 120px;
}
.rightBody h2 {
	font-size: 36px;
	width: 52vw;
	font-weight: 400;
}
.rightBody h3 {
	font-size: 22px;
	font-weight: 400;
}
.rightBody p {
	padding-top: 20px;
	line-height: 26px;
	color: rgb(51, 51, 51);
}
.bodyGraph {
	text-transform: capitalize;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: lato;
	height: 270px;
	min-width: 4vw;

	background-color: #f1f0fa;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border-width: 0px 0px 0px 17px;
	border-style: solid;
	border-color: #dad8f9;
}

.rightBody ul {
	list-style-type: none;
	padding-top: 8px;
	padding-left: 8px;
	height: 240px;
}
.g1 ul {
	height: 230px;
	width: 120px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	padding: 20px;
}
.g2 ul {
	height: 230px;
	width: 140px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	padding: 20px;
}
.g3 ul {
	height: 230px;
	width: 140px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	padding: 20px;
}

.bottomTestimonialWrapper {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
	font-style: italic;
	background-color: pnk;
	width: 50vw;
}
.testimonialWrapperB {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 80px;
}
.testimonialWrapperB p {
	padding: 15px;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4;
}
.testimonialWrapperB img {
	height: 28px;
	margin-bottom: 1px;
}

#womenPhoto {
	height: 120px;
	margin-right: 20px;
}
.bodySectionTwo {
	height: 1000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bodyContainerTwo {
	height: 1200px;
	width: 90vw;
	display: flex;
	flex-direction: column;
}
.bodyWrapperTwo {
	margin-top: 0px;
	height: 860px;
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.headLine h2 {
	text-transform: capitalize;
	font-weight: 400;
	margin: auto;
	text-align: center;
	width: 800px;
	font-size: 38px;
}
.leftBodyTwo {
	height: 790px;
	width: 660px;
}
.leftBodyTwo ul {
	padding-left: 20px;
	font-size: 17px;
	font-family: Lato;
	font-weight: 700;
	line-height: 28px;
	text-transform: capitalize;
}
.leftBodyTwo p {
	color: rgb(51, 51, 51);
	line-height: 26px;
}
.rightBodyTwo {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	height: 800px;
	width: 400px;
	margin-left: 40px;
}
#infoGraph {
	height: 480px;
}
#supplementFact {
	height: 300px;
	margin-top: 30px;
}

/* begin wrapping up

*/

.wrappingUpSection {
	height: 520px;
	width: 100%;
	background-image: url('/images/women-sleeping-min-gradient\ 2.png');
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wrappingUpContainer {
	height: 500px;
	width: 90vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.wrappingUpContainer div {
	width: 600px;
}
.wrappingUpContainer h2 {
	font-size: 38px;
	text-transform: capitalize;
	color: white;
}
.wrappingUpContainer p {
	width: 500px;
	color: rgb(201, 201, 201);
	line-height: 26px;
}
.closeSection {
	height: 1320px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.closeContainer {
	height: 1000px;
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 60px;
}
.closeContainer h2 {
	width: 500px;
	text-align: center;
	font-weight: 400;
	font-size: 36px;
	text-transform: capitalize;
	margin-top: 19px;
}
.testimonialWrapper img {
	height: 22px;
}
.rightClose p {
	font-weight: 400;
	font-size: 16px;
	margin-top: 29px;
	color: rgb(51, 51, 51);
	line-height: 26px;
}
.rightClose {
	width: 440px;
	font-size: 16px;
	padding-left: 20px;
}
.bottomCloseContainer {
	height: 500px;
	width: 50vw;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	margin-top: 20px;
}
.bottomCloseContainer h3 {
	font-size: 20px;
	font-weight: 400;
	font-family: lato;
	text-transform: capitalize;
	text-align: center;
}
.leftBC {
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.rightBC img {
	width: 140px;
	margin: 20px;
	text-align: center;
}
.rightBC {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin-top: 80px;
}
.rightBC p {
	text-align: center;
	font-size: 12px;
	margin-top: 2px;
	width: 240px;
}
#easyReturnsImg {
	width: 440px;
	height: 600px;
	margin-top: 50px;
}
.CtaButton {
	height: 55px;
	width: 230px;
	border-radius: 10px;
	background-color: #5a4ff3;
	border: none;
	color: white;
	font-size: 20px;
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 20px;
}
#timerFunctionContainer {
	height: 300px;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#timerFunctionContainer p {
	font-size: 46px;
}
#timerMinutes p {
	font-size: 26px;
	color: #b8b7c7;
	margin-top: 24px;
}

@media screen and (max-width: 991px) {
	.navSection {
		width: 100%;
		height: 50px;
		font-family: Lato;
		font-size: 400;
		background-color: rgb(0, 0, 0);
		display: flex;
	}
	.navContainer {
		max-width: 960px;
		min-width: 600px;
		height: 50px;
		margin: auto;
	}
	.navWrapper {
		height: 50px;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.navLink {
		color: white;
		font-style: normal;
		text-decoration: none;
		font-size: 15px;
	}
	.navCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 40px;
		width: 120px;
		margin-top: 10px;
		color: white;
		border-radius: 3px;
		cursor: poiznter;
		font-size: 14px;
	}
	.navWrapper li {
		list-style: none;
		font-size: 26px;
	}

	.headerContainer {
		height: 500px;
		width: 800px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* begin subhero  */

	.subHeroSection {
		height: 1200px;
		width: 100%;
	}

	.subHeroContainer {
		height: 1520px;
		width: 760px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-top: -60px;
	}
	.leftSH {
		width: 90%;
		height: 800px;
	}
	.rightSH {
		height: 500px;
		width: 70vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		margin-top: 80px;
		
	}
	.symptomGraphWrapper {
		height: 660px;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #f1f0fa;
		border-left: 17px;
		border-right: 0px;
		border-top: 0px;
		border-bottom: 0px;
		border-color: #dad8f9;
		border-style: solid;
		font-family: lato;
		width: 90%;
		border-radius: 20px;
	}

	.rightSH h3 {
		width: 100%;
		font-size: 26px;
		margin: top 20px;
	}
	.rightSH p {
		width: 100%;
		font-size: 15px;
	}

	/* begin body section  */

	.bodySection {
		margin-top: 400px;
		height: 1440px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.bodyContainer {
		height: 1700px;
		width: 800px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-left: 0px;
	}
	.leftbody {
		width: 160px;
		height: 1300px;
	}
	#magSup {
		background-color: cornflowerblue;
		height: 240px;
	}
	.testimonialWrapper {
		height: 1100px;
		width: 200px;
		font-family: lato;
		font-size: 14px;
		border-color: #dad8f9;
		background-color: #f8f7fa;
		border-color: #b8b7c7;
		border-style: solid;
		border-width: 1.5px;
		border-radius: 20px;
		padding: 30px;
	}
	.testimonialWrapper p {
		line-height: 26px;
		font-size: 14px;
		color: #363636;
	}
	.testimonialWrapper h3 {
		font-weight: 400;
		font-size: 22px;
		padding-top: 10px;
		width: 200px;
	}

	.testimonialContentWrapper img {
		height: 20px;
	}

	hr {
		background-color: #d3d3d3;
		height: 1px;
		border: none;
	}

	.dateContent {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}
	.dateContent h4 {
		margin-right: 20px;
		color: rgb(12, 12, 12);
		font-weight: 400;
	}
	#amazonLogo {
		height: 100px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.rightBody {
		max-width: 460px;
		height: 1200px;
		display: flex;
		flex-direction: column;
	}
	.rightBody h2 {
		font-size: 33px;
		width: 500px;
		font-weight: 400;
	}
	.rightBody h3 {
		font-size: 22px;
		font-weight: 400;
	}
	.rightBody p {
		padding-top: 20px;
		line-height: 26px;
		color: rgb(51, 51, 51);
	}
	.bodyGraph {
		text-transform: capitalize;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 20px;
		font-size: 14.5px;
		font-family: lato;
		height: 270px;
		width: 400px;
		background-color: #f1f0fa;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	.rightBody ul {
		list-style-type: none;
		padding-top: 10px;
		padding-left: 10px;
		height: 240px;
	}
	.g1 ul {
		height: 230px;
		width: 110px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 8px;
	}
	.g2 ul {
		height: 230px;
		width: 130px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}
	.g3 ul {
		height: 230px;
		width: 100px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}

	#womenPhoto {
		height: 120px;
		margin-right: 20px;
	}
	/* begin second body  */
	.bodySectionTwo {
		height: 1500px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 140px;
	}
	.bodyContainerTwo {
		height: 1500px;
		width: 760px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.bodyWrapperTwo {
		margin-top: 230px;
		height: 860px;
		width: 700px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.rightBodyTwo {
		height: 800px;
		width: 600px;
		display: flex;
		flex-direction: row;
		margin-left: 90px;
	}

	#infoGraph {
		margin-right: 90px;
	}
	#supplementFact {
		margin-left: 40px;
	}
	/* begin wrapping up */
	.wrappingUpContainer {
		height: 500px;
		width: 780px;
	}
	.wrappingUpContainer div {
		width: 500px;
		padding: 30px;
	}
	.wrappingUpContainer h2 {
		font-size: 33px;
	}
	.wrappingUpContainer p {
		width: 440px;
	}
	/* begin close */
	.closeSection {
		height: 1320px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.closeContainer {
		height: 1000px;
		width: 90vw;
		display: flex;
		flex-direction: row;
	
		align-items: center;
		margin-top: 100px;
	}
	.closeContainer h2 {
		width: 500px;
		text-align: center;
		font-weight: 400;
		text-transform: capitalize;
		margin-top: 19px;
	}
	.testimonialWrapper img {
		height: 22px;
	}
	.rightClose p {
		font-weight: 400;
		font-size: 16px;
		margin-top: 29px;
		color: rgb(51, 51, 51);
		line-height: 26px;
	}
	.rightClose {
		width: 52vw;
		font-size: 16px;
		display: flex;
		flex-direction: column;
	}
	.bottomCloseContainer {
		height: 400px;
		width: 52vw;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		margin-top: 30px;
	}
	.bottomCloseContainer h3 {
		font-size: 20px;
		font-weight: 400;
		font-family: lato;
		text-transform: capitalize;
		text-align: center;
	}
	.leftBC {
		width: 500px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.rightBC {
		display: none;
		flex-direction: row;
		align-items: center;
		
	}

	.rightBC img {
		width: 140px;
	}

	.rightBC p {
		text-align: center;
		font-size: 12px;
		width: 290px;
	}
	#easyReturnsImg {
		width: 500px;
		height: 100px;
		margin-top: 50px;
	}
	.CtaButton {
		height: 55px;
		border-radius: 10px;
		background-color: #5a4ff3;
		border: none;
		color: white;
		font-size: 20px;
		font-weight: 900;
	}
	#timerFunctionContainer {
		display: none;
		height: 200px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#timerFunctionContainer p {
		font-size: 46px;
	}
	#timerMinutes p {
		font-size: 26px;
		color: #b8b7c7;
		margin-top: 0px;
	}
}

@media screen and (max-width: 780px) {
	.navSection {
		width: 100%;
		height: 50px;
		font-family: Lato;
		font-size: 400;
		background-color: rgb(0, 0, 0);
		display: flex;
	}
	.navContainer {
		max-width: 660px;
		min-width: 300px;
		height: 50px;
		margin: auto;
	}
	.navWrapper {
		height: 50px;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.navLink {
		color: white;
		font-style: normal;
		text-decoration: none;
		font-size: 13.5px;
	}
	.navCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 30px;
		width: 90px;
		margin-top: 10px;
		color: white;
		border-radius: 3px;
		cursor: poiznter;
		font-size: 12px;
		display: none;
	}
	.navWrapper li {
		list-style: none;
		font-size: 22px;
	}
	/* header section  */
	.headerSection {
		width: 100%;
		height: 370px;
		background-image: url('images/heroimage.png');
		background-position: 100% 100%;
		background-attachment: scroll;
		background-size: cover;
		
	}
	
	.headerContainer {
		height: 300px;
		width: 90vw;
		margin-top:30px;
	}
	.headerWrapper {
		height: 360px;
		margin: 20px;
	}
	.headerWrapper h1 {
		color: white;
		font-size: 46px;
		font-family: Poppins;
		font-weight: 400;
		line-height: 54px;
		width: 400px;
	}
	.headerWrapper p {
		color: #c4c4c4;
		font-size: 16px;
		line-height: 24px;
		font-family: lato;
		font-weight: 400;
		width: 340px;
		margin-top: 10px;
	}
	.headerCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 50px;
		width: 180px;
		margin-top: 10px;
		color: white;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 0.6px;
	}

	/* begin subhero  */

	.subHeroSection {
		height: 1480px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 40px;
	}

	.subHeroContainer {
		height: 1460px;
		width: 660px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.leftSH {
		height: 840px;
		max-width: 90vw;
	}
	.leftSH h2 {
		width: 90vw;
		font-size: 32px;
		line-height: 42px;
	}
	.leftSH p {
		font-size: 14px;
		line-height: 22px;
		padding-top: 12px;
		color: rgb(51, 51, 51);
	}
	.leftSH ul {
		padding: 20px;
		padding-left: 30px;
		text-transform: capitalize;
		font-size: 16px;
		font-family: Lato;
		font-weight: 700;
		line-height: 27px;
	}

	.material-icons {
		color: #5a4ff3;
	}
	.rightSH {
		height: 820px;
		width: 660px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.symptomGraphWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #f1f0fa;
		font-family: lato;
		padding: 20px;
		max-width: 80vw;
		height: 620px;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	/* border-color: rgb(152, 152, 221) */
	.symptomGraphWrapper h3 {
		font-size: 30px;
	}
	.symptomGraphWrapper p {
		font-size: 15px;
		color: rgb(44, 44, 44);
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 24px;
	}
	.leftGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 20px;
	}

	.rightGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* begin body section  */

	.bodySection {
		margin-top: 0px;
		height: 2100px;
		width: 100%;
	}
	.bodyContainer {
		height: 2190px;
		width: 660px;
		display: flex;
		flex-direction: column-reverse;
		align-content: center;
		align-items: center;
	}
	.leftbody {
		width: 660px;
		height: 700px;
		flex-direction: column;
		display: flex;
		align-items: center;
	}
	#magSup {
		height: 240px;
		display: none;
	}
	.testimonialWrapper {
		height: 700px;
		width: 600px;
		font-family: lato;
		font-size: 15px;
		border-color: #dad8f9;
		background-color: #f8f7fa;
		border-color: #b8b7c7;
		border-style: solid;
		border-width: 1.5px;
		border-radius: 20px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.testimonialWrapper p {
		line-height: 28px;
		font-size: 17px;
		color: #363636;
	}
	.testimonialWrapper h3 {
		font-weight: 400;
		font-size: 32px;
		padding-top: 10px;
		width: 400px;
		text-align: center;
		width: 500px;
	}

	.dateContent {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}
	.dateContent h4 {
		margin-right: 20px;
		color: rgb(12, 12, 12);
		font-weight: 400;
	}
	#amazonLogo {
		height: 100px;
		width: 230px;
		margin-left: auto;
		margin-right: auto;
	}

	.rightBody {
		max-width: 90vw;
		height: 1300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0px;
	}
	.rightBody h2 {
		font-size: 40px;
		width: 94vw;
		font-weight: 400;
		text-align: center;
	}
	.rightBody h3 {
		font-size: 18px;
		font-weight: 400;
	}
	.rightBody p {
		padding-top: 20px;
		line-height: 26px;
		color: rgb(51, 51, 51);
		font-size: 15px;
	}
	.bodyGraph {
		text-transform: capitalize;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
		font-size: 16px;
		font-family: lato;
		height: 270px;
		width: 500px;
		background-color: #f1f0fa;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	.rightBody ul {
		list-style-type: none;
		padding-top: 10px;
		padding-left: 10px;
		height: 240px;
	}
	.g1 ul {
		height: 230px;
		width: 120px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 20px;
	}
	.g2 ul {
		height: 230px;
		width: 140px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 20px;
	}
	.g3 ul {
		height: 230px;
		width: 140px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 20px;
	}

	.bottomTestimonialWrapper {
		display: flex;
		flex-direction: row;
		margin-top: 60px;
		width: 70vw;
	}
	.testimonialWrapperB {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 500px;
		height: 80px;
	}
	.testimonialWrapperB p {
		padding: 15px;
		border-radius: 20px;
		border-width: 1px;
		border-style: solid;
		border-color: #c4c4c4;
	}
	.testimonialWrapperB img {
		height: 28px;
		margin-bottom: 1px;
	}

	#womenPhoto {
		height: 120px;
		margin-right: 20px;
	}
	/* begin second body  */

	.bodySectionTwo {
		height: 1400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 140px;
	}
	.bodyContainerTwo {
		height: 1400px;
		width: 660px;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: space-between;
	}
	.headLine h2 {
		font-size: 29px;
		width: 90vw;
	}
	.bodyWrapperTwo {
		margin-top: 20px !important;
		height: 1240px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.rightBodyTwo {
		height: 800px;
		width: 90vw;
		display: flex;
		flex-direction: row;
		margin-left: 0px !important;
		margin-top: 30px;
	}

	#infoGraph {
		margin-right: 0px;
	}
	#supplementFact {
		margin-left: 30px;
	}
	/* begin wrapping up */
	.wrappingUpContainer {
		height: 500px;
		width: 660px;
	}
	.wrappingUpContainer div {
		width: 500px;
		padding: 30px;
	}
	.wrappingUpContainer h2 {
		font-size: 33px;
	}
	.wrappingUpContainer p {
		width: 440px;
		font-size: 15px;
	}
	/* begin close */
	.closeSection {
		height: 1320px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.closeContainer {
		height: 2000px;
		width: 660px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 60px;
	}
	.closeContainer h2 {
		width: 500px;
		text-align: center;
		font-weight: 400;
		text-transform: capitalize;
		margin-top: 19px;
		margin-left: 50px;
	}
	.testimonialWrapper img {
		height: 22px;
	}
	.rightClose p {
		font-weight: 400;
		font-size: 16px;
		margin-top: 29px;
		color: rgb(51, 51, 51);
		line-height: 26px;
	}
	.rightClose {
		width: 600px;
		font-size: 16px;
		padding-left: 0px !important;
		margin-left: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	.bottomCloseContainer {
		height: 700px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		margin-top: 30px;
	}
	.bottomCloseContainer h3 {
		font-size: 20px;
		font-weight: 400;
		font-family: lato;
		text-transform: capitalize;
		text-align: center;
	}
	.leftBC {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.rightBC {
		display: none;
		flex-direction: row;
		align-items: center;
	}

	.rightBC img {
		width: 140px;
	}

	.rightBC p {
		text-align: center;
		font-size: 12px;
		width: 290px;
	}
	#easyReturnsImg {
		width: 440px;
		margin-top: 50px;
	}
	.CtaButton {
		height: 55px;
		border-radius: 10px;
		background-color: #5a4ff3;
		border: none;
		color: white;
		font-size: 20px;
		font-weight: 900;
	}
	#timerFunctionContainer {
		display: none;
		height: 200px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#timerFunctionContainer p {
		font-size: 46px;
	}
	#timerMinutes p {
		font-size: 26px;
		color: #b8b7c7;
		margin-top: 0px;
		margin-top: 0px;
	}
}
@media screen and (max-width: 665px) {
	.navSection {
		width: 100%;
		height: 50px;
		font-family: Lato;
		font-size: 400;
		background-color: rgb(0, 0, 0);
		display: flex;
	}
	.navContainer {
		max-width: 660px;
		min-width: 300px;
		height: 50px;
		margin: auto;
	}
	.navWrapper {
		height: 50px;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.navLink {
		color: white;
		font-style: normal;
		text-decoration: none;
		font-size: 11.5px;
	}
	.navCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 30px;
		width: 90px;
		margin-top: 10px;
		color: white;
		border-radius: 3px;
		cursor: poiznter;
		font-size: 12px;
		display: none;
	}
	.navWrapper li {
		list-style: none;
		font-size: 22px;
	}
	/* header section  */
	.headerSection {
		width: 100%;
		height: 340px;
		background-image: url('images/heroimage.png');
		background-position: 100% 100%;
		background-attachment: scroll;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}

	.headerContainer {
		height: 300px;
		width: 90vw;
	}
	.headerWrapper {
		max-width: 90vw;
		height: 360px;
		margin: 20px;
	}
	.headerWrapper h1 {
		color: white;
		font-size: 38px;
		font-family: Poppins;
		font-weight: 400;
		line-height: 47px;
		width: 340px;
	}
	.headerWrapper p {
		color: #c4c4c4;
		font-size: 16px;
		line-height: 24px;
		font-family: lato;
		font-weight: 400;
		width: 320px;
		margin-top: 10px;
		background-color: turquose;
	}
	.headerCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 50px;
		width: 180px;
		margin-top: 10px;
		color: white;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 0.6px;
	}

	/* begin subhero  */

	.subHeroSection {
		height: 1600px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.subHeroContainer {
		height: 1540px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.leftSH {
		height: 840px;
		max-width: 90vw;
	}
	.leftSH h2 {
		width: 90vw;
		font-size: 34px;
		line-height: 52px;
		text-align: center;
	}
	.leftSH p {
		font-size: 14px;
		line-height: 22px;
		padding-top: 12px;
		color: rgb(51, 51, 51);
	}
	.leftSH ul {
		padding: 20px;
		padding-left: 30px;
		text-transform: capitalize;
		font-size: 16px;
		font-family: Lato;
		font-weight: 700;
		line-height: 27px;
	}

	.material-icons {
		color: #5a4ff3;
	}
	.rightSH {
		height: 820px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.symptomGraphWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #f1f0fa;
		font-family: lato;
		padding: 20px;
		max-width: 70vw;
		height: 620px;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	/* border-color: rgb(152, 152, 221) */
	.symptomGraphWrapper h3 {
		font-size: 26px;
	}
	.symptomGraphWrapper p {
		font-size: 14px;
		color: rgb(44, 44, 44);
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 24px;
	}
	.leftGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 20px;
	}

	.rightGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* begin body section  */

	.bodySection {
		margin-top: 0px !important;
		height: 2640px;
		width: 100%;
	}
	.bodyContainer {
		height: 2400px;
		width: 90vw;
		display: flex;
		flex-direction: column-reverse;
		align-content: center;
		align-items: center;
	}
	.leftbody {
		width: 90vw;
		height: 700px;
		flex-direction: column;
		display: flex;
		align-items: center;
	}
	#magSup {
		height: 240px;
		display: none;
	}
	.testimonialWrapper {
		height: 900px;
		width: 300px;
		font-family: lato;
		font-size: 13px;
		border-color: #dad8f9;
		background-color: #f8f7fa;
		border-color: #b8b7c7;
		border-style: solid;
		border-width: 1.5px;
		border-radius: 20px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.testimonialWrapper p {
		line-height: 28px;
		font-size: 15px;
		color: #363636;
	}
	.testimonialWrapper h3 {
		font-weight: 400;
		font-size: 22px;
		padding-top: 10px;
		text-align: center;
		width: 300px;
	}

	.dateContent {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}
	.dateContent h4 {
		margin-right: 20px;
		color: rgb(12, 12, 12);
		font-weight: 400;
	}
	#amazonLogo {
		height: 100px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.rightBody {
		max-width: 90vw;
		height: 1600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0px;
	}
	.rightBody h2 {
		font-size: 32px;
		width: 94vw;
		font-weight: 400;
		text-align: center;
	}
	.rightBody h3 {
		font-size: 18px;
		font-weight: 400;
	}
	.rightBody p {
		padding-top: 20px;
		line-height: 26px;
		color: rgb(51, 51, 51);
		font-size: 15px;
	}
	.bodyGraph {
		text-transform: capitalize;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
		font-size: 14px;
		font-family: lato;
		height: 270px;
		width: 400px;
		background-color: #f1f0fa;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	.rightBody ul {
		list-style-type: none;
		padding-top: 4px;
		padding-left: 4px;
		height: 240px;
	}
	.g1 ul {
		height: 230px;
		width: 100px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}
	.g2 ul {
		height: 230px;
		width: 140px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}
	.g3 ul {
		height: 230px;
		width: 140px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}

	.bottomTestimonialWrapper {
		display: flex;
		flex-direction: row;
		margin-top: 140px;
	}
	.testimonialWrapperB {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70vw;
		height: 100px;
	}
	.testimonialWrapperB p {
		padding: 14px;
		border-radius: 20px;
		border-width: 1px;
		border-style: solid;
		border-color: #c4c4c4;
	}
	.testimonialWrapperB img {
		height: 28px;
		margin-bottom: 1px;
	}

	#womenPhoto {
		height: 120px;
		margin-right: 20px;
	}
	/* begin second body  */

	.bodySectionTwo {
		height: 1400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0px;
	}
	.bodyContainerTwo {
		height: 1200px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: space-between;
	}
	.headLine h2 {
		font-size: 32px;
		width: 90vw;
	}

	.bodyWrapperTwo {
		margin-top: 20px !important;
		height: 1240px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.leftBodyTwo {
		width: 90vw;
	}
	.rightBodyTwo {
		height: 800px;
		width: 90vw;
		display: flex;
		flex-direction: row;
		margin-left: 0px !important;
		margin-top: 100px;
	}

	#infoGraph {
		display: none;
	}
	#supplementFact {
		height: 280px;
	}
	/* begin wrapping up */
	.wrappingUpSection {
		margin-top: 80px;
	}
	.wrappingUpContainer {
		height: 600px;
		width: 90vw;
	}

	.wrappingUpContainer div {
		height: 400px;
		width: 80vw;
	}

	.wrappingUpContainer h2 {
		font-size: 32px;
		width: 430px;
	}
	.wrappingUpContainer p {
		font-size: 15px;
		width: 430px;
	}

	/* begin close */
	.closeSection {
		height: 2220px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.closeContainer {
		height: 1600px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0px;
	}
	.closeContainer h2 {
		width: 450px;
		font-weight: 400;
		text-transform: capitalize;
		margin-top: 19px;
		margin-left: auto;
		margin-right: auto;
	}
	.testimonialWrapper img {
		height: 22px;
	}
	.rightClose p {
		font-weight: 400;
		font-size: 16px;
		margin-top: 29px;
		color: rgb(51, 51, 51);
		line-height: 26px;
		width: 90vw;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.rightClose {
		width: 90vw;
		font-size: 16px;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.rightClose div {
		width: 90vw;
		font-size: 16px;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.bottomCloseContainer {
		height: 00px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		margin-top: 30px;
		margin-left: 30px;
	}
	.bottomCloseContainer h3 {
		font-size: 20px;
		font-weight: 400;
		font-family: lato;
		text-transform: capitalize;
		text-align: center;
	}
	.leftBC {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.rightBC {
		display: none;
		flex-direction: row;
		align-items: center;
	}

	#easyReturnsImg {
		width: 440px;
		margin-top: 50px;
	}
	.CtaButton {
		height: 55px;
		border-radius: 10px;
		background-color: #5a4ff3;
		border: none;
		color: white;
		font-size: 20px;
		font-weight: 900;
	}
	#timerFunctionContainer {
		display: none;
		height: 200px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#timerFunctionContainer p {
		font-size: 46px;
		text-align: center;
	}
	#timerMinutes p {
		font-size: 26px;
		color: #b8b7c7;
		text-align: center;
	}
}

@media screen and (max-width: 665px) {
	.navSection {
		width: 100%;
		height: 50px;
		font-family: Lato;
		font-size: 400;
		background-color: rgb(0, 0, 0);
		display: flex;
	}
	.navContainer {
		max-width: 660px;
		min-width: 300px;
		height: 50px;
		margin: auto;
	}
	.navWrapper {
		height: 50px;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.navLink {
		color: white;
		font-style: normal;
		text-decoration: none;
		font-size: 11.5px;
	}
	.navCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 30px;
		width: 90px;
		margin-top: 10px;
		color: white;
		border-radius: 3px;
		cursor: poiznter;
		font-size: 12px;
		display: none;
	}
	.navWrapper li {
		list-style: none;
		font-size: 22px;
	}
	/* header section  */
	.headerSection {
		width: 100%;
		height: 340px;
		background-image: url('images/heroimage.png');
		background-position: 100% 100%;
		background-attachment: scroll;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}

	.headerContainer {
		height: 300px;
		width: 90vw;
	}
	.headerWrapper {
		max-width: 90vw;
		height: 360px;
		margin: 20px;
	}
	.headerWrapper h1 {
		color: white;
		font-size: 38px;
		font-family: Poppins;
		font-weight: 400;
		line-height: 47px;
		width: 340px;
	}
	.headerWrapper p {
		color: #c4c4c4;
		font-size: 16px;
		line-height: 24px;
		font-family: lato;
		font-weight: 400;
		width: 320px;
		margin-top: 10px;
	}
	.headerCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 50px;
		width: 180px;
		margin-top: 10px;
		color: white;
		border-radius: 10px;
		font-size: 16px;
		font-weight: 900;
		letter-spacing: 0.6px;
	}

	/* begin subhero  */

	.subHeroSection {
		height: 1600px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.subHeroContainer {
		height: 1540px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.leftSH {
		height: 840px;
		max-width: 90vw;
	}
	.leftSH h2 {
		width: 90vw;
		font-size: 34px;
		line-height: 52px;
		text-align: center;
	}
	.leftSH p {
		font-size: 14px;
		line-height: 22px;
		padding-top: 12px;
		color: rgb(51, 51, 51);
	}
	.leftSH ul {
		padding: 20px;
		padding-left: 30px;
		text-transform: capitalize;
		font-size: 16px;
		font-family: Lato;
		font-weight: 700;
		line-height: 27px;
	}

	.material-icons {
		color: #5a4ff3;
	}
	.rightSH {
		height: 820px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.symptomGraphWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #f1f0fa;
		font-family: lato;
		padding: 20px;
		max-width: 70vw;
		height: 620px;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	/* border-color: rgb(152, 152, 221) */
	.symptomGraphWrapper h3 {
		font-size: 26px;
	}
	.symptomGraphWrapper p {
		font-size: 14px;
		color: rgb(44, 44, 44);
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 24px;
	}
	.leftGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 20px;
	}

	.rightGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* begin body section  */

	.bodySection {
		margin-top: 0px !important;
		height: 2640px;
		width: 100%;
	}
	.bodyContainer {
		height: 2400px;
		width: 90vw;
		display: flex;
		flex-direction: column-reverse;
		align-content: center;
		align-items: center;
	}
	.leftbody {
		width: 90vw;
		height: 700px;
		flex-direction: column;
		display: flex;
		align-items: center;
	}
	#magSup {
		height: 240px;
		display: none;
	}
	.testimonialWrapper {
		height: 900px;
		width: 300px;
		font-family: lato;
		font-size: 13px;
		border-color: #dad8f9;
		background-color: #f8f7fa;
		border-color: #b8b7c7;
		border-style: solid;
		border-width: 1.5px;
		border-radius: 20px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.testimonialWrapper p {
		line-height: 28px;
		font-size: 15px;
		color: #363636;
	}
	.testimonialWrapper h3 {
		font-weight: 400;
		font-size: 22px;
		padding-top: 10px;
		text-align: center;
		width: 300px;
	}

	.dateContent {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}
	.dateContent h4 {
		margin-right: 20px;
		color: rgb(12, 12, 12);
		font-weight: 400;
	}
	#amazonLogo {
		height: 100px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.rightBody {
		max-width: 90vw;
		height: 1600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0px;
	}
	.rightBody h2 {
		font-size: 32px;
		width: 94vw;
		font-weight: 400;
		text-align: center;
	}
	.rightBody h3 {
		font-size: 18px;
		font-weight: 400;
	}
	.rightBody p {
		padding-top: 20px;
		line-height: 26px;
		color: rgb(51, 51, 51);
		font-size: 15px;
	}
	.bodyGraph {
		text-transform: capitalize;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
		font-size: 14px;
		font-family: lato;
		height: 270px;
		width: 400px;
		background-color: #f1f0fa;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	.rightBody ul {
		list-style-type: none;
		padding-top: 4px;
		padding-left: 4px;
		height: 240px;
	}
	.g1 ul {
		height: 230px;
		width: 100px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}
	.g2 ul {
		height: 230px;
		width: 140px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}
	.g3 ul {
		height: 230px;
		width: 140px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}

	.bottomTestimonialWrapper {
		display: flex;
		flex-direction: row;
		margin-top: 140px;
	}
	.testimonialWrapperB {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70vw;
		height: 100px;
	}
	.testimonialWrapperB p {
		padding: 14px;
		border-radius: 20px;
		border-width: 1px;
		border-style: solid;
		border-color: #c4c4c4;
	}
	.testimonialWrapperB img {
		height: 28px;
		margin-bottom: 1px;
	}

	#womenPhoto {
		height: 120px;
		margin-right: 20px;
	}
	/* begin second body  */

	.bodySectionTwo {
		height: 1400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0px;
	}
	.bodyContainerTwo {
		height: 1200px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: space-between;
	}
	.headLine h2 {
		font-size: 32px;
		width: 90vw;
	}

	.bodyWrapperTwo {
		margin-top: 20px !important;
		height: 1240px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.leftBodyTwo {
		width: 90vw;
	}
	.rightBodyTwo {
		height: 800px;
		width: 90vw;
		display: flex;
		flex-direction: row;
		margin-left: 0px !important;
		margin-top: 100px;
	}

	#infoGraph {
		display: none;
	}
	#supplementFact {
		height: 280px;
	}
	/* begin wrapping up */
	.wrappingUpSection {
		margin-top: 80px;
	}
	.wrappingUpContainer {
		height: 600px;
		width: 90vw;
	}

	.wrappingUpContainer div {
		height: 400px;
		width: 80vw;
	}

	.wrappingUpContainer h2 {
		font-size: 32px;
		width: 430px;
	}
	.wrappingUpContainer p {
		font-size: 15px;
		width: 430px;
	}

	/* begin close */
	.closeSection {
		height: 2220px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.closeContainer {
		height: 1600px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0px;
	}
	.closeContainer h2 {
		width: 450px;
		font-weight: 400;
		text-transform: capitalize;
		margin-top: 19px;
		margin-left: auto;
		margin-right: auto;
	}
	.testimonialWrapper img {
		height: 22px;
	}
	.rightClose p {
		font-weight: 400;
		font-size: 16px;
		margin-top: 29px;
		color: rgb(51, 51, 51);
		line-height: 26px;
		width: 90vw;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.rightClose {
		width: 90vw;
		font-size: 16px;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.rightClose div {
		width: 90vw;
		font-size: 16px;
		padding-left: 0px !important;
		margin-left: 0px !important;
	}
	.bottomCloseContainer {
		height: 00px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		margin-top: 30px;
		margin-left: 30px;
	}
	.bottomCloseContainer h3 {
		font-size: 20px;
		font-weight: 400;
		font-family: lato;
		text-transform: capitalize;
		text-align: center;
	}
	.leftBC {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.rightBC {
		display: none;
		flex-direction: row;
		align-items: center;
	}

	#easyReturnsImg {
		width: 440px;
		margin-top: 50px;
	}
	.CtaButton {
		height: 55px;
		border-radius: 10px;
		background-color: #5a4ff3;
		border: none;
		color: white;
		font-size: 20px;
		font-weight: 900;
	}
	#timerFunctionContainer {
		display: none;
		height: 200px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#timerFunctionContainer p {
		font-size: 46px;
		text-align: center;
	}
	#timerMinutes p {
		font-size: 26px;
		color: #b8b7c7;
		text-align: center;
	}
}
@media screen and (max-width: 479px) {
	.navSection {
		width: 100%;
		height: 40px;
		font-family: Lato;
		font-size: 400;
		background-color: rgb(0, 0, 0);
		display: flex;
	}

	.navLink {
		display: none;
	}
	.navCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 30px;
		width: 90px;
		margin-top: 10px;
		color: white;
		border-radius: 3px;
		cursor: poiznter;
		font-size: 12px;
		display: none;
	}

	/* header section  */
	.headerSection {
		width: 100%;
		height: 340px;
		background-image: url('images/heroimage.png');
		background-position: 100% 100%;
		background-attachment: scroll;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}

	.headerContainer {
		height: 300px;
		width: 90vw;
	}
	.headerWrapper {
		max-width: 90vw;
		height: 400px;
		margin: 20px;
	}
	.headerWrapper h1 {
		color: white;
		font-size: 34px;
		font-family: Poppins;
		font-weight: 400;
		line-height: 42px;
		width: 90vw;
		text-align: center;
	}
	.headerWrapper p {
		color: #dfdfdf;
		font-size: 15px;
		line-height: 24px;
		font-family: lato;
		font-weight: 400;
		width: 94vw;
		margin-top: 10px;
		background-color: turquose;
		text-align: center;
		background-color: #02011660;
	}
	.headerCta {
		background-color: #5a4ff3;
		border: #5a4ff3;
		height: 40px;
		width: 90vw;
		margin-top: 10px;
		color: white;
		border-radius: 10px;
		font-size: 15px;
		font-weight: 900;
		letter-spacing: 0.6px;
	}

	/* begin subhero  */

	.subHeroSection {
		height: 1680px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 40px;
	}

	.subHeroContainer {
		height: 1540px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.leftSH {
		height: 840px;
		max-width: 90vw;
	}
	.leftSH h2 {
		width: 90vw;
		font-size: 28px;
		line-height: 38px;
		text-align: center;
	}
	.leftSH p {
		font-size: 14px;
		line-height: 22px;
		padding-top: 12px;
		color: rgb(51, 51, 51);
	}
	.leftSH ul {
		padding: 20px;
		padding-left: 30px;
		text-transform: capitalize;
		font-size: 16px;
		font-family: Lato;
		font-weight: 700;
		line-height: 27px;
	}

	.material-icons {
		color: #5a4ff3;
	}
	.rightSH {
		height: 820px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.symptomGraphWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #f1f0fa;
		font-family: lato;
		padding: 10px;
		max-width: 90vw;
		height: 720px;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	/* border-color: rgb(152, 152, 221) */
	.symptomGraphWrapper h3 {
		font-size: 26px;
	}
	.symptomGraphWrapper p {
		font-size: 14px;
		color: rgb(44, 44, 44);
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 24px;
	}
	.leftGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 20px;
	}

	.rightGraph {
		height: 500px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* begin body section  */

	.bodySection {
		margin-top: 0px !important;
		height: 2640px;
		width: 100%;
	}
	.bodyContainer {
		height: 2400px;
		width: 90vw;
		display: flex;
		flex-direction: column-reverse;
		align-content: center;
		align-items: center;
	}
	.leftbody {
		width: 90vw;
		height: 700px;
		flex-direction: column;
		display: flex;
		align-items: center;
	}
	#magSup {
		height: 240px;
		display: none;
	}
	.testimonialWrapper {
		height: 900px;
		width: 300px;
		font-family: lato;
		margin-top: 100px;
		font-size: 13px;
		border-color: #dad8f9;
		background-color: #f8f7fa;
		border-color: #b8b7c7;
		border-style: solid;
		border-width: 1.5px;
		border-radius: 20px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.testimonialWrapper p {
		line-height: 28px;
		font-size: 15px;
		color: #363636;
	}
	.testimonialWrapper h3 {
		font-weight: 400;
		font-size: 22px;
		padding-top: 10px;
		text-align: center;
		width: 300px;
	}

	.dateContent {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}
	.dateContent h4 {
		margin-right: 20px;
		color: rgb(12, 12, 12);
		font-weight: 400;
	}
	#amazonLogo {
		height: 100px;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.rightBody {
		max-width: 90vw;
		height: 1700px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 0px;
	}
	.rightBody h2 {
		font-size: 28px;
		max-width: 90vw;
		font-weight: 400;
		text-align: center;
		line-height: 34px;
	}
	.rightBody h3 {
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		padding-top: 20px;
	}
	.rightBody p {
		padding-top: 20px;
		line-height: 26px;
		color: rgb(51, 51, 51);
		text-align: left;
		font-size: 14px;
	}
	.bodyGraph {
		text-transform: capitalize;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 20px;
		font-size: 14px;
		font-family: lato;
		height: 270px;
		width: 80vw;
		background-color: #f1f0fa;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		border-width: 0px 0px 0px 17px;
		border-style: solid;
		border-color: #dad8f9;
	}
	.rightBody ul {
		list-style-type: none;
		padding-top: 4px;
		padding-left: 4px;
		height: 240px;
	}
	.g1 ul {
		height: 230px;
		width: 80px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding-left: 10px;
	}
	.g2 ul {
		height: 230px;
		width: 80px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding-left: 40px;
	}
	.g3 ul {
		height: 230px;
		width: 80px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		padding-left: 40px;
	}

	.bottomTestimonialWrapper {
		display: flex;
		flex-direction: row;
		margin-top: 140px;
	}
	.testimonialWrapperB {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70vw;
		height: 100px;
	}
	.testimonialWrapperB p {
		padding: 14px;
		border-radius: 20px;
		border-width: 1px;
		border-style: solid;
		border-color: #c4c4c4;
	}
	.testimonialWrapperB img {
		height: 28px;
		margin-bottom: 1px;
	}

	#womenPhoto {
		height: 100px;
		margin-right: 10px;
	}
	/* begin second body  */

	.bodySectionTwo {
		height: 1400px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 90px;
		font-size: 14px;
	}
	.bodyContainerTwo {
		height: 1200px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: space-between;
	}
	.headLine h2 {
		font-size: 28px;
		width: 90vw;
		margin-bottom: 30px;
	}

	.bodyWrapperTwo {
		margin-top: 20px !important;
		height: 1240px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.leftBodyTwo {
		width: 90vw;
	}
	.rightBodyTwo {
		height: 800px;
		width: 90vw;
		display: flex;
		flex-direction: row;
		margin-left: 0px !important;
		margin-top: 260px;
	}

	#infoGraph {
		display: none;
	}
	#supplementFact {
		width: 90vw;
		height: 260px;
		margin-left: auto;
		margin-right: auto;
	}
	/* begin wrapping up */
	.wrappingUpSection {
		margin-top: 200px;
		height: 580px;
	}
	.wrappingUpContainer {
		height: 570px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: start;
	}

	.wrappingUpContainer div {
		height: 400px;
		width: 80vw;
	}

	.wrappingUpContainer h2 {
		font-size: 28px;
		width: 80vw;
		text-align: center;
	}
	.wrappingUpContainer p {
		font-size: 15px;
		width: 80vw;
	}

	/* begin close */
	.closeSection {
		height: 2220px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.closeContainer {
		height: 1600px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0px;
	}
	.closeContainer h2 {
		width: 360px;
		font-weight: 400;
		text-transform: capitalize;
		margin-top: 19px;
		margin-left: auto;
		margin-right: auto;
		font-size: 28px;
	}
	.testimonialWrapper img {
		height: 22px;
	}
	.rightClose p {
		font-weight: 400;
		font-size: 14px;
		margin-top: 29px;
		color: rgb(51, 51, 51);
		line-height: 26px;
		width: 90vw;
	}
	.rightClose {
		width: 90vw;
		font-size: 16px;
	}
	.rightClose div {
		width: 90vw;
		font-size: 16px;
		margin-top: 40px;
	}

	.leftBC {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.leftBC p {
		margin-top: -40px !important;
	}
	.rightBC {
		display: none;
	}

	#easyReturnsImg {
		width: 90vw;
		margin-top: 50px;
	}
	.CtaButton {
		height: 45px;
		border-radius: 10px;
		border: none;
		color: white;
		font-size: 20px;
		font-weight: 900;
		width: 90vw;
		margin-bottom: 45px;
	}
	#timerFunctionContainer {
		display: none;
		height: 200px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#timerFunctionContainer p {
		font-size: 46px;
		text-align: center;
		height: 60px;
	}
	#timerMinutes p {
		font-size: 26px;
		color: #b8b7c7;
		text-align: center;
	}
}
